.vertical-menu {
  width: 200px;
  background-color: rgba(18, 18, 18, 0.9);
  color: white;
  padding: 0px;
  position: fixed;
  top: 0;
  bottom: 0;
  overflow-y: auto;
}
.vertical-menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.vertical-menu ul li {
  margin: 20px 0;
}
.vertical-menu ul li a {
  color: white;
  text-decoration: none;
  padding: 15px;
  display: block;
  font-size: 18px;
}
.vertical-menu ul li a:hover {
  background-color: rgba(18, 18, 18, 1);
}

.title-nav {
  padding-left: 10px;
  font-family: Verdana, sans-serif;
  background: linear-gradient(24deg, white, #8b0000);
  -webkit-background-clip: text;
  color: transparent;
  background-clip: text;
}
