<nav class="navbar navbar-expand-lg nav-bg" style="position:fixed; width: 100%">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Manzano Y Gonzalez Mathias</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-flex">
        <li class="nav-item">
          <a href="#" class="active"><i class="fas fa-home"></i><label>Home</label></a>
        </li>
        <li class="nav-item">
          <a href="#"><i class="fas fa-user"></i><label>About</label></a>
        </li>
        <li class="nav-item">
          <a href="#"><i class="fa-solid fa-user-graduate"></i><label>Skills</label></a>
        </li>
        <li class="nav-item">
          <a href="#"><i class="fa-solid fa-briefcase"></i><label>Experience</label></a>
        </li>
        <li class="nav-item">
          <a href="#"><i class="fa-solid fa-folder-open"></i><label>Portfolio</label></a>
        </li>
        <li class="nav-item">
          <a href="#"><i class="fa-solid fa-envelope"></i><label>Contact</label></a>
        </li>
      </ul>
      <hr>
      <div class="d-flex">
        <div class="social-icons">
          <a href="https://be.linkedin.com/in/mathias-manzano-y-gonzalez-b2464b20b" target="_blank"><i class="fab fa-linkedin-in"></i></a>
          <a href="mailto:manzanoygonzalezmathias.pro@gmail.com" target="_blank"><i class="fa-solid fa-envelope"></i></a>
          <a href="https://github.com/ManzanoYG" target="_blank"><i class="fab fa-github"></i></a>
          <a href="assets/file/CV_Mathias_Manzano_Y_Gonzalez.pdf" download class="download-btn" target="_blank"><i class="fa-solid fa-download"></i></a>
        </div>
      </div>
    </div>
  </div>
</nav>
