.nav-bg {
  background-color: #2b3449;
}

li a {
  color: white !important;
}

.nav-item a{
  padding: 10px 10px 10px 25px;
}
.nav-item i{
  padding-right: 15px;
}

.nav-item a:hover {
  background-color: #495057;
}

.nav-item .active {
  background-color: #007bff;
}

@media (max-width: 992px) {
  .nav-item i {
    padding-right: 15px;
    margin-bottom: 20px;
  }

  .navbar-brand {
    padding-bottom: 10px;
  }
}

nav {
  z-index: 1030;
}
