<div class="sidebar">
  <div class="text-center">
    <img src="assets/img/mathias.jpg" alt="Mathias Manzano Y Gonzalez">
  </div>
  <div class="social-icons">
    <a href="https://linkedin.com" target="_blank"><i class="fab fa-linkedin-in"></i></a>
    <a href="https://twitter.com" target="_blank"><i class="fa-solid fa-envelope"></i></a>
    <a href="https://facebook.com" target="_blank"><i class="fab fa-github"></i></a>
  </div>
  <hr/>
  <div id="navLinks">
    <a href="#" class="active"><i class="fas fa-home"></i><label>Home</label></a>
    <a href="#"><i class="fas fa-user"></i><label>About</label></a>
    <a href="#"><i class="fas fa-user"></i><label>Skills</label></a>
    <a href="#"><i class="fas fa-user"></i><label>Experience</label></a>
    <a href="#"><i class="fa-solid fa-folder-open"></i><label>Portfolio</label></a>
    <a href="#"><i class="fa-solid fa-envelope"></i><label>Contact</label></a>
  </div>
</div>
