<div class="container py-5">
  <div class="row align-items-center">
    <div class="col-md-6 mb-4 mb-md-0">
      <img src="assets/img/mathias.png" class="img-fluid rounded shadow" alt="Landing Image">
    </div>

    <div class="col-md-6 text-center text-md-start">
      <h1 class="fw-bold">I'm Mathias Manzano Y Gonzalez</h1>
      <h4 class="fw-bold">
        {{ displayedText }}<span class="typing-cursor">|</span>
      </h4>
      <p class="mt-3">
        Lorem ipsum odor amet, consectetuer adipiscing elit. Fermentum bibendum quisque ante nullam ac. Vehicula dictum vel parturient elementum torquent elit fusce. Neque ac netus dictum tempor, magna senectus posuere habitasse. Vel justo tincidunt imperdiet tempor ullamcorper mi mus non viverra. Senectus rutrum cras vehicula dictum vel parturient elementum torquent elit fusce. Neque ac netus dictum tempor, magna senectus posuere
      </p>
      <div class="d-flex">
        <div class="social-icons">
          <a href="https://be.linkedin.com/in/mathias-manzano-y-gonzalez-b2464b20b" target="_blank"><i class="fab fa-linkedin-in"></i></a>
          <a href="mailto:manzanoygonzalezmathias.pro@gmail.com" target="_blank"><i class="fa-solid fa-envelope"></i></a>
          <a href="https://github.com/ManzanoYG" target="_blank"><i class="fab fa-github"></i></a>
          <a href="assets/file/CV_Mathias_Manzano_Y_Gonzalez.pdf" download class="download-btn" target="_blank"><i class="fa-solid fa-download"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>
