body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.container {
  display: flex;
  height: 100vh;
}

.content {
  margin-left: 200px;
  flex-grow: 1;
  overflow-y: auto;
  padding: 0;
}

.scrollable-content {
  max-height: 100%;
}
